.brand-logo {
  color: yellow;
  white-space: nowrap;
}

#mobile-demo a {
  color: white;
}

#mobile-demo li a i.movie-icon {
  color: mediumpurple;
}

#mobile-demo li a i.character-icon {
  color: deepskyblue;
}

li.active {
  background-color: dimgrey;
}