<nav class="grey darken-3">
  <div class="nav-wrapper container">
    <a [routerLink]="['/']" class="brand-logo center">SW Favorites</a>
    <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li [routerLinkActive]="['active']"><a [routerLink]="['/films']">Films</a></li>
      <li [routerLinkActive]="['active']"><a [routerLink]="['/characters']">Caracters</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav grey darken-3" id="mobile-demo">
  <li [routerLinkActive]="['active']"><a [routerLink]="['/films']"><i class="material-icons movie-icon">movie</i> Films</a></li>
  <li [routerLinkActive]="['active']"><a [routerLink]="['/characters']"><i class="material-icons character-icon">face</i> Caracters</a></li>
</ul>